In [1]:
import numpy as np
import pandas as pd
from collections import Counter

# Data Preprocessing:

In [2]:
train=pd.read_csv("Train.csv")
test=pd.read_csv("Test.csv")
train.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
5,2.0,0.0,"Gaskell, Mr. Alfred",male,16.0,0.0,0.0,239865,26.0000,NaN,S,NaN,NaN,"Liverpool / Montreal, PQ"
6,2.0,0.0,"Phillips, Mr. Escott Robert",male,43.0,0.0,1.0,S.O./P.P. 2,21.0000,NaN,S,NaN,NaN,"Ilfracombe, Devon"
7,1.0,1.0,"Leader, Dr. Alice (Farnham)",female,49.0,0.0,0.0,17465,25.9292,D17,S,8,NaN,"New York, NY"
8,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
9,2.0,0.0,"Wheeler, Mr. Edwin ""Frederick""",male,NaN,0.0,0.0,SC/PARIS 2159,12.8750,NaN,S,NaN,NaN,NaN

In [3]:
train.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

###### The columns PassengerId, Name, Ticket, Cabin, Embarked won't be of much use to us as survival won't depend on these. So we are going to delete them:

In [4]:
del train["name"],train["ticket"],train["cabin"],train["embarked"],train["home.dest"],train["boat"],train["body"]

del test["name"],test["ticket"],test["cabin"],test["embarked"],test["home.dest"],test["boat"],test["body"]      

train.head(10)

   pclass  survived     sex   age  sibsp  parch     fare
0     3.0       0.0  female   NaN    0.0    0.0   7.7500
1     2.0       0.0    male  39.0    0.0    0.0  26.0000
2     2.0       1.0  female  40.0    0.0    0.0  13.0000
3     3.0       1.0  female  31.0    1.0    1.0  20.5250
4     3.0       1.0  female   NaN    2.0    0.0  23.2500
5     2.0       0.0    male  16.0    0.0    0.0  26.0000
6     2.0       0.0    male  43.0    0.0    1.0  21.0000
7     1.0       1.0  female  49.0    0.0    0.0  25.9292
8     1.0       0.0    male  48.0    0.0    0.0  50.4958
9     2.0       0.0    male   NaN    0.0    0.0  12.8750

In [5]:
train.info()                           #Age has only 714 filled entries, rest are NA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null object
age         812 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1008 non-null float64
dtypes: float64(6), object(1)
memory usage: 55.3+ KB

In [6]:
#Filling NA values of age with mean of all ages (mean of age column)

train=train.fillna(train["age"].mean())

test=test.fillna(test["age"].mean())

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null object
age         1009 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1009 non-null float64
dtypes: float64(6), object(1)
memory usage: 55.3+ KB

In [7]:
train["sex"].replace({'female':0,'male':1},inplace=True)
test["sex"].replace({'female':0,'male':1},inplace=True)

In [8]:
train.head()

   pclass  survived  sex        age  sibsp  parch    fare
0     3.0       0.0    0  29.838978    0.0    0.0   7.750
1     2.0       0.0    1  39.000000    0.0    0.0  26.000
2     2.0       1.0    0  40.000000    0.0    0.0  13.000
3     3.0       1.0    0  31.000000    1.0    1.0  20.525
4     3.0       1.0    0  29.838978    2.0    0.0  23.250

In [9]:
y_train=train["survived"].values
del train["survived"]

In [10]:
x_train=train.values[:,:]

In [11]:
test.head()

   pclass  sex        age  sibsp  parch     fare
0     1.0    1  36.000000    0.0    0.0  26.3875
1     3.0    0  30.027422    8.0    2.0  69.5500
2     1.0    1  30.027422    0.0    0.0  50.0000
3     2.0    1  34.000000    0.0    0.0  13.0000
4     2.0    1  28.000000    0.0    0.0  13.0000

In [12]:
x_test=test.values[:,:]

In [13]:
x_train.shape,y_train.shape,x_test.shape

((1009, 6), (1009,), (300, 6))

# Decision Tree Implementation:

In [14]:
def entropy(col):                          #col is the column whose entropy u want to calculate
    
    c=Counter(col)
    entropy=0
    
    for cls in list(c.keys()):             #iterating over each class (cls) in the column
        cls_prob=c[cls]/col.shape[0]       #Probability of class cls in col
        
        entropy+=(cls_prob*np.log2(cls_prob))
        
    entropy=-entropy
    
    return entropy

In [15]:
#a sample run of the above function

col=np.array([1,1,1,1,0,0,0,0])
entropy(col)                               #since equal no. of all classes(0s and 1s) are present, the netropy is max (1)

1.0

In [16]:
def split_data(x,y,col_no,split_val):
    '''We are only going to do binarry splits in this example, u can do >=3 splits whenever required using a similar
       procedure'''
    
    #left and right children
    x_left=[]                              
    y_left=[]
    x_right=[]
    y_right=[]
    
    for ix in range(x.shape[0]):                          #iterate through each example
        if x[ix,col_no]>split_val:
            x_left.append(x[ix])
            y_left.append(y[ix])
        
        else:                              
            x_right.append(x[ix])
            y_right.append(y[ix])
            
    return (np.array(x_left),np.array(x_right),np.array(y_left),np.array(y_right))

def info_gain(x,y,col_no,split_val):
    
    '''col_no is the column no. on the basis of which u want to split, split_val is the threshold 
       (for example if split_val=0.5 and col_no=1 ("Sex"), then all values >0.5 will go in 1 child
       node and all values <=0.5 will go into the other(all females in 1 child and all males in other
       as male=1 and female=0))'''
    
    x_left,x_right,y_left,y_right=split_data(x,y,col_no,split_val)
    
    wl=x_left.shape[0]/x.shape[0]                     #Weight for left child node
    wr=x_right.shape[0]/x.shape[0]                    #Weight for right child node
    
    el=entropy(y_left)                                #entropy of left child node
    er=entropy(y_right)                               #entropy of right child node
    
    e_after=(el*wl)+(er*wr)
    e_before=entropy(y)
    
    info_gain=e_before-e_after
    return info_gain

In [17]:
info_gain(x_train,y_train,1,0.5)                      #splitting on Sex (threshold = 0.5)

0.19274737190850932

In [18]:
info_gain(x_train,y_train,2,18)                       #splitting on Age (threshold = 18)

0.005499682213077728

In [19]:
info_gain(x_train,y_train,3,0)                        #splitting on SibSp (threshold = 0)

0.006492394392888956

In [20]:
info_gain(x_train,y_train,4,0)                        #splitting on ParCh (threshold = 0)

0.01975608012294816

In [21]:
info_gain(x_train,y_train,5,x_train[5].mean())        #splitting on Fare (threshold = mean)

0.011885531599979515

In [22]:
info_gain(x_train,y_train,0,2)                        #splitting on PClass (threshold = 2)

0.055456910002982474

###### u can see that most info gain is when we split acc to Sex, as it should be because while the titanic was sinking the captain ordered the saving of women first, thus more women surivived and thus we will get purer nodes if we split according to Sex

In [23]:
class DecisionTree():
    
    def __init__(self,depth=0,max_depth=10):               
        
        self.depth=depth                              #depth is the curent depth of the tree
        self.max_depth=max_depth                      #we will stop when depth=max_depth
        self.left=None                                #left_child node
        self.right=None                               #right_child node
        self.col_no=None                              #column to split on
        self.split_val=None                           #threshold value of the column (col_no)
        self.target=None                              #what current node will predict
        
    def fit(self,x,y):                                #x_train and y_train
            
        max_ig=-float("Inf")
        
        for cno in range(x.shape[1]):
            
            ig=info_gain(x,y,cno,x[:,cno].mean())
            if max_ig<ig:
                max_ig=ig
                self.col_no=cno
        
        self.split_val=x[:,self.col_no].mean()
        
        x_left,x_right,y_left,y_right=split_data(x,y,self.col_no,self.split_val)     #splitting data among left & right children
        
        if x_left.shape[0]==0 or x_right.shape[0]==0:                      #base case(if all examples go into 1 of the children)
            self.target=Counter(y).most_common()[0][0]
            return
        
        if self.depth>=self.max_depth:                #base case (if max_depth is reached)
            self.target=Counter(y).most_common()[0][0]
            return
        
        if np.unique(y).shape[0]==1:                  #base case (pure (0 entropy) node)
            self.target=Counter(y).most_common()[0][0]
            return 
        
        #building Left Subtree:
        self.left=DecisionTree(self.depth+1,self.max_depth)
        self.left.fit(x_left,y_left)
        
        #building Right Subtree:
        self.right=DecisionTree(self.depth+1,self.max_depth)
        self.right.fit(x_right,y_right)
        
        self.target=Counter(y).most_common()[0][0]
        return
    
    def predict(self,x):                                         #x is a single query point
        
            if x[self.col_no]>self.split_val:                   #query point xq goes to the left child
                
                if self.left is None:
                    return self.target
                else:
                    return self.left.predict(x)
                    
            else:
                
                if self.right is None:
                    return self.target
                else:
                    return self.right.predict(x)

In [24]:
clf=DecisionTree(max_depth=4)
clf

In [25]:
clf.fit(x_train,y_train)

In [26]:
predictions=[]
for xq in x_test:
    predictions.append(clf.predict(xq))
    
predictions=np.array(predictions)
print(predictions)

[0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0.
 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1.
 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1.]

In [27]:
d={"Id":np.arange(predictions.shape[0]),"survived":predictions}
df=pd.DataFrame(d)
df.to_csv("submission.csv",index=False)

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
clf=DecisionTreeClassifier(criterion="entropy")
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [36]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [37]:
predictions=clf.predict(x_test)
predictions

array([1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0.,
       0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0.,
       0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.])

In [31]:
import pydotplus
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

In [38]:
dot_data=StringIO()
export_graphviz(clf,out_file=dot_data,filled=True,rounded=True)

In [42]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

InvocationException: GraphViz's executables not found

In [ ]:
conda install python-graphviz